{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}
  Login
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row d-flex justify-content-center align-items-center" style="height: calc(100vh - 56px);">
      <div class="col-5">
        <div class="card shadow-sm login-card">
          <div class="card-body">
            <h2 class="card-title mb-4 text-center ">Login</h2>

            <form method="post" novalidate>
              {% csrf_token %}
              {{ form|crispy }}

              <span class="d-block text-center">
                <button type="submit" class="btn btn-primary mt-3 px-5">Login</button>
            </span>
            </form>
          </div>
        </div>

        <p class="my-3 text-center">
          Don't have an account? <a class="muted" href="{% url 'register' %}">Register</a>.
        </p>
      </div>
    </div>
  </div>
{% endblock %}
